<div class="create-meeting-cont">
    <div class="ui icon input meeting-id">
        <i class="clipboard outline icon"></i>
        <input id="meeting-id-input" type="text" placeholder="Meeting ID" value="123456" readonly>
    </div>
    <div class="note">Share the Meeting ID above!</div>

    <div class="buttons-cont create-buttons-cont">
        <button type="button" class="btn btn-secondary btn-block start-meeting-btn">START MEETING</button>
        <button type="button" class="btn btn-outline-secondary btn-block cancel-btn">CANCEL</button>
    </div>
</div>