<% layout ("boilerplate") -%>

<style>
  .vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
</style>

<div class="d-flex vertical-center w-100" id="start-menu">
    <div class="d-table w-100">
      <div class="text-center display-3"><%= title %></div>
      <div class="text-center lead">A simple video conferencing app by <a href="/">eesayas</a></div>
      <br>
      <button type="button" class="btn btn-secondary btn-block btn-lg w-50 mx-auto" id="create-room">CREATE A MEETING</button>
      <button type="button" class="btn btn-success btn-block btn-lg w-50 mx-auto" id="join-room">JOIN A MEETING</button>
    </div>
</div>

<div class="d-none vertical-center w-100" id="start-meeting">
  <div class="d-table w-100">
    <div class="text-center display-4"><%= title %></div>
    <br><br><br>
    <div class="input-group input-group-lg mx-auto" style="width: 60%;">
      <input type="text" class="form-control rounded-0" id="room-id-input" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    </div>
    <br>
    <p class="text-muted text-center"><em>Share the Meeting ID above!</em></p>
    <br><br><br><br>
    <button type="button" class="btn btn-secondary btn-block btn-lg w-50 mx-auto" id="start-meet">START MEETING</button>
    <button type="button" class="btn btn-success btn-block btn-lg w-50 mx-auto" id="cancel-start">CANCEL</button>
  </div>
</div>

<div class="d-none vertical-center w-100" id="join-meeting">
  <div class="d-table w-100">
    <div class="text-center display-4"><%= title %></div>
    <br><br><br>
    <div class="input-group input-group-lg mx-auto" style="width: 60%;">
      <input type="text" class="form-control rounded-0" placeholder="Enter a room ID..." id="join-room-input" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    </div>
    <br>
    <p class="text-muted text-center"><em>Enter a room ID and join meeting</em></p>
    <br><br><br><br>
    <button type="button" class="btn btn-secondary btn-block btn-lg w-50 mx-auto" id="join-meet">JOIN MEETING</button>
    <button type="button" class="btn btn-success btn-block btn-lg w-50 mx-auto" id="cancel-join">CANCEL</button>
  </div>
</div>
<script src="/javascripts/index.js"></script>