<% layout ("boilerplate") -%>

<style>
    #video-grid{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-auto-rows: 300px; */
        background-color: black;
    }

    video{
        width: 100%;
        height: 80%;
        border: 1px solid white;
        /* background-color: #181818; */
        box-sizing: border-box;
        margin: auto 0;
        object-fit: contain;
    }

    .circle-btn{
        background-color: #c4c4c4;
        padding: 1rem;
        font-size: 2.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
</style>


<nav class="navbar navbar-light text-light" style="background-color: #535252;">
    <a class="navbar-brand text-light mx-3 lead" style="font-size: 2rem; letter-spacing: 0.2rem;" role="logo">iSeeYa</a>
</nav>

<div id="video-grid"></div>

<nav class="navbar d-flex fixed-bottom navbar-light text-light" style="background-color: #535252;" id="video-controls">
    <div class="material-icons circle-btn mx-auto" id="end-call-btn" style="transform: rotate(135deg); background-color: #e10000 !important; color: white;" role="button">phone</div>
</nav>

<script>
    $("#video-grid").height( $("#video-controls").offset().top - $("#video-grid").offset().top );
</script>