html,
body {
  font-family: "Roboto", serif;
  background-color: #272626;
  padding: 0;
  margin: 0;
  height: 100vh;
  color: white;
}

.video-container {
  flex: 0 1 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

button {
  filter: brightness(1);
  transition: filter 1s ease;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: #504f4f;
}

button:hover {
  filter: brightness(1.5);
}

button.text-button {
  font-size: 1rem;
  font-weight: 100;
  padding: 10px 30px;
}

button.icon-button {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 600px) {
  .video-container {
    flex: 0 1 calc(50% - 20px);
  }
}
