.create-meeting-cont{
    display: none;
}

.meeting-id{
    width: 100% !important;
    font-size: 1.5rem !important;
}

.create-meeting-cont .note{
    font-style: italic;
    opacity: 0.5;
    text-align: center;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.create-buttons-cont{
    margin: 10rem 0 0 0;
}